USE [master]
GO
/****** Object:  Database [BD_ASISTENCIAMAGALLANES]    Script Date: 10/04/2026 07:52:01 a. m. ******/
CREATE DATABASE [BD_ASISTENCIAMAGALLANES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_ASISTENCIAMAGALLANES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_ASISTENCIAMAGALLANES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_ASISTENCIAMAGALLANES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BD_ASISTENCIAMAGALLANES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_ASISTENCIAMAGALLANES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_ASISTENCIAMAGALLANES]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[IdAsistencia] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdSeccion] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[IdDocente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditoriaSistema]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaSistema](
	[IdBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Accion] [varchar](255) NULL,
	[TablaAfectada] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boletas]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boletas](
	[IdBoleta] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Motivo] [varchar](255) NULL,
	[Porcentaje] [int] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdBoleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clase]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clase](
	[IdClase] [int] IDENTITY(1,1) NOT NULL,
	[IdAsignacion] [int] NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleAsistencia]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleAsistencia](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdClase] [int] NULL,
	[IdEstudiante] [int] NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocenteSeccionMateria]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocenteSeccionMateria](
	[IdAsignacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdSeccion] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntregaTareas]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntregaTareas](
	[IdEntrega] [int] IDENTITY(1,1) NOT NULL,
	[IdTarea] [int] NULL,
	[IdEstudiante] [int] NULL,
	[Entregado] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
	[IdDocente] [int] NULL,
	[Porcentaje] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[IdEstudiante] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [varchar](20) NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[NumeroEncargado] [varchar](100) NOT NULL,
	[IdSeccion] [int] NOT NULL,
	[Estado] [bit] NULL,
	[RecibeReligion] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntercambioEstudiantes]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntercambioEstudiantes](
	[IdIntercambio] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante1] [int] NOT NULL,
	[IdEstudiante2] [int] NOT NULL,
	[IdSeccion1] [int] NOT NULL,
	[IdSeccion2] [int] NOT NULL,
	[FechaSolicitud] [date] NULL,
	[FechaAplicacion] [date] NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIntercambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Justificaciones]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Justificaciones](
	[IdJustificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Motivo] [varchar](255) NULL,
	[Estado] [varchar](20) NULL,
	[IdUsuario] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[IdUsuarioAprobador] [int] NULL,
	[FechaAprobacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJustificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respaldos]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respaldos](
	[IdRespaldo] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [varchar](255) NULL,
	[Fecha] [datetime] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRespaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secciones]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secciones](
	[IdSeccion] [int] IDENTITY(1,1) NOT NULL,
	[NombreSeccion] [varchar](10) NOT NULL,
	[Anio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudCambioSeccion]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudCambioSeccion](
	[IdSolicitud] [int] IDENTITY(1,1) NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdSeccionActual] [int] NOT NULL,
	[IdSeccionSolicitada] [int] NOT NULL,
	[TipoCambio] [varchar](50) NULL,
	[Estado] [varchar](20) NULL,
	[FechaSolicitud] [date] NULL,
	[FechaAplicacion] [date] NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSolicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tareas]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tareas](
	[IdTarea] [int] IDENTITY(1,1) NOT NULL,
	[IdDocente] [int] NULL,
	[IdSeccion] [int] NULL,
	[IdMateria] [int] NULL,
	[Titulo] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[FechaEntrega] [date] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 10/04/2026 07:52:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asistencia] ON 

INSERT [dbo].[Asistencia] ([IdAsistencia], [IdEstudiante], [IdSeccion], [IdMateria], [Fecha], [Estado], [IdDocente]) VALUES (1, 3, 1, 1, CAST(N'2026-03-14' AS Date), N'Presente', 1003)
INSERT [dbo].[Asistencia] ([IdAsistencia], [IdEstudiante], [IdSeccion], [IdMateria], [Fecha], [Estado], [IdDocente]) VALUES (2, 4, 1, 1, CAST(N'2026-03-14' AS Date), N'Presente', 1003)
INSERT [dbo].[Asistencia] ([IdAsistencia], [IdEstudiante], [IdSeccion], [IdMateria], [Fecha], [Estado], [IdDocente]) VALUES (3, 5, 1, 1, CAST(N'2026-03-14' AS Date), N'Presente', 1003)
SET IDENTITY_INSERT [dbo].[Asistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[Clase] ON 

INSERT [dbo].[Clase] ([IdClase], [IdAsignacion], [Fecha]) VALUES (6, 1002, CAST(N'2023-03-20' AS Date))
INSERT [dbo].[Clase] ([IdClase], [IdAsignacion], [Fecha]) VALUES (7, 1002, CAST(N'2026-03-17' AS Date))
INSERT [dbo].[Clase] ([IdClase], [IdAsignacion], [Fecha]) VALUES (1002, 1004, CAST(N'2026-03-25' AS Date))
SET IDENTITY_INSERT [dbo].[Clase] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleAsistencia] ON 

INSERT [dbo].[DetalleAsistencia] ([IdDetalle], [IdClase], [IdEstudiante], [Estado]) VALUES (2, 6, 3, N'Presente')
INSERT [dbo].[DetalleAsistencia] ([IdDetalle], [IdClase], [IdEstudiante], [Estado]) VALUES (3, 7, 15, N'Presente')
INSERT [dbo].[DetalleAsistencia] ([IdDetalle], [IdClase], [IdEstudiante], [Estado]) VALUES (4, 7, 16, N'Ausente')
GO
SET IDENTITY_INSERT [dbo].[DetalleAsistencia] OFF
GO
SET IDENTITY_INSERT [dbo].[DocenteSeccionMateria] ON 

INSERT [dbo].[DocenteSeccionMateria] ([IdAsignacion], [IdUsuario], [IdSeccion], [IdMateria]) VALUES (1002, 1003, 3, 1)
INSERT [dbo].[DocenteSeccionMateria] ([IdAsignacion], [IdUsuario], [IdSeccion], [IdMateria]) VALUES (1003, 1003, 2, 3)
INSERT [dbo].[DocenteSeccionMateria] ([IdAsignacion], [IdUsuario], [IdSeccion], [IdMateria]) VALUES (1004, 1003, 2, 4)
SET IDENTITY_INSERT [dbo].[DocenteSeccionMateria] OFF
GO
SET IDENTITY_INSERT [dbo].[EntregaTareas] ON 

INSERT [dbo].[EntregaTareas] ([IdEntrega], [IdTarea], [IdEstudiante], [Entregado], [FechaRegistro], [IdDocente], [Porcentaje]) VALUES (7, 39, 1, 1, CAST(N'2026-04-10T06:34:41.020' AS DateTime), 1003, CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[EntregaTareas] ([IdEntrega], [IdTarea], [IdEstudiante], [Entregado], [FechaRegistro], [IdDocente], [Porcentaje]) VALUES (8, 39, 1004, 1, CAST(N'2026-04-10T06:34:41.023' AS DateTime), 1003, CAST(5.00 AS Decimal(5, 2)))
INSERT [dbo].[EntregaTareas] ([IdEntrega], [IdTarea], [IdEstudiante], [Entregado], [FechaRegistro], [IdDocente], [Porcentaje]) VALUES (9, 39, 1303, 1, CAST(N'2026-04-10T06:34:41.023' AS DateTime), 1003, CAST(5.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[EntregaTareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Estudiantes] ON 

INSERT [dbo].[Estudiantes] ([IdEstudiante], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [NumeroEncargado], [IdSeccion], [Estado], [RecibeReligion]) VALUES (1, N'208130766', N'Esteven', N'Quirós ', CAST(N'2001-01-16' AS Date), N'83253442', 2002, 1, 0)
INSERT [dbo].[Estudiantes] ([IdEstudiante], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [NumeroEncargado], [IdSeccion], [Estado], [RecibeReligion]) VALUES (3, N'101000001', N'Juan', N'Perez', CAST(N'2009-03-15' AS Date), N'88881234', 1, 1, 1)
INSERT [dbo].[Estudiantes] ([IdEstudiante], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [NumeroEncargado], [IdSeccion], [Estado], [RecibeReligion]) VALUES (4, N'101000002', N'Maria', N'Lopez', CAST(N'2009-05-21' AS Date), N'88884567', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Estudiantes] OFF
GO
SET IDENTITY_INSERT [dbo].[Justificaciones] ON 

INSERT [dbo].[Justificaciones] ([IdJustificacion], [IdEstudiante], [Fecha], [Motivo], [Estado], [IdUsuario], [FechaRegistro], [IdUsuarioAprobador], [FechaAprobacion]) VALUES (1, 10, CAST(N'2026-03-31' AS Date), N'Tenia una Cita Medica Presentó Comprobante', N'Aprobado', 1003, CAST(N'2026-03-31T02:19:57.813' AS DateTime), NULL, NULL)
INSERT [dbo].[Justificaciones] ([IdJustificacion], [IdEstudiante], [Fecha], [Motivo], [Estado], [IdUsuario], [FechaRegistro], [IdUsuarioAprobador], [FechaAprobacion]) VALUES (2, 18, CAST(N'2026-03-31' AS Date), N'Hubo un accidente de transito y proboco que llegara tarde ', N'Aprobado', 1003, CAST(N'2026-03-31T17:01:58.103' AS DateTime), NULL, NULL)
INSERT [dbo].[Justificaciones] ([IdJustificacion], [IdEstudiante], [Fecha], [Motivo], [Estado], [IdUsuario], [FechaRegistro], [IdUsuarioAprobador], [FechaAprobacion]) VALUES (3, 20, CAST(N'2026-03-31' AS Date), N'Asunto medico presento un comprobante', N'Aprobado', 1003, CAST(N'2026-03-31T17:02:24.930' AS DateTime), 1003, CAST(N'2026-04-01T14:31:47.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[Justificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (1, N'Fisica Matematica')
INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (2, N'Matemática')
INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (3, N'Español')
SET IDENTITY_INSERT [dbo].[Materias] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[ROLES] ([IdRol], [NombreRol]) VALUES (2, N'Direccion')
INSERT [dbo].[ROLES] ([IdRol], [NombreRol]) VALUES (3, N'Docente')
SET IDENTITY_INSERT [dbo].[ROLES] OFF
GO
SET IDENTITY_INSERT [dbo].[Secciones] ON 

INSERT [dbo].[Secciones] ([IdSeccion], [NombreSeccion], [Anio]) VALUES (1, N'7-1', 2025)
INSERT [dbo].[Secciones] ([IdSeccion], [NombreSeccion], [Anio]) VALUES (2, N'7-2', 2025)
INSERT [dbo].[Secciones] ([IdSeccion], [NombreSeccion], [Anio]) VALUES (3, N'8-1', 2025)
SET IDENTITY_INSERT [dbo].[Secciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Tareas] ON 

INSERT [dbo].[Tareas] ([IdTarea], [IdDocente], [IdSeccion], [IdMateria], [Titulo], [Descripcion], [FechaEntrega], [Estado]) VALUES (39, 1003, 2002, 2, N'Matematica', N'Tarea del Tema Algebra libor pag 20', CAST(N'2026-04-10' AS Date), 0)
INSERT [dbo].[Tareas] ([IdTarea], [IdDocente], [IdSeccion], [IdMateria], [Titulo], [Descripcion], [FechaEntrega], [Estado]) VALUES (40, 1003, 2002, 2, N'Ecuaciones', N'Tarea pagina de libro 23', CAST(N'2026-04-10' AS Date), 0)
INSERT [dbo].[Tareas] ([IdTarea], [IdDocente], [IdSeccion], [IdMateria], [Titulo], [Descripcion], [FechaEntrega], [Estado]) VALUES (41, 1003, 2002, 2, N'Ecuaciones', N'Tarea pagina de libro 23', CAST(N'2026-04-10' AS Date), 0)
SET IDENTITY_INSERT [dbo].[Tareas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Usuario], [Password], [IdRol], [Estado]) VALUES (2, N'JUAN PEREZ MENDEZ', N'JPEREZ', N'1234', 2, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Usuario], [Password], [IdRol], [Estado]) VALUES (3, N'Maria Lopez', N'mlopez', N'1234', 2, 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Nombre], [Usuario], [Password], [IdRol], [Estado]) VALUES (4, N'Carlos Ramirez', N'cramirez', N'1234', 3, 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Estudiantes_Cedula]    Script Date: 10/04/2026 07:52:01 a. m. ******/
ALTER TABLE [dbo].[Estudiantes] ADD  CONSTRAINT [UQ_Estudiantes_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF7590525A2]    Script Date: 10/04/2026 07:52:01 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaSistema] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Boletas] ADD  DEFAULT ((0)) FOR [Porcentaje]
GO
ALTER TABLE [dbo].[EntregaTareas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT ((1)) FOR [RecibeReligion]
GO
ALTER TABLE [dbo].[IntercambioEstudiantes] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Justificaciones] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Respaldos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[SolicitudCambioSeccion] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([IdDocente])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[AuditoriaSistema]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Boletas]  WITH CHECK ADD FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Boletas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Clase]  WITH CHECK ADD  CONSTRAINT [FK_Clase_Asignacion] FOREIGN KEY([IdAsignacion])
REFERENCES [dbo].[DocenteSeccionMateria] ([IdAsignacion])
GO
ALTER TABLE [dbo].[Clase] CHECK CONSTRAINT [FK_Clase_Asignacion]
GO
ALTER TABLE [dbo].[DetalleAsistencia]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[Clase] ([IdClase])
GO
ALTER TABLE [dbo].[DetalleAsistencia] CHECK CONSTRAINT [FK_Detalle_Clase]
GO
ALTER TABLE [dbo].[DetalleAsistencia]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[DetalleAsistencia] CHECK CONSTRAINT [FK_Detalle_Estudiante]
GO
ALTER TABLE [dbo].[DocenteSeccionMateria]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materias] ([IdMateria])
GO
ALTER TABLE [dbo].[DocenteSeccionMateria]  WITH CHECK ADD FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[DocenteSeccionMateria]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[EntregaTareas]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[EntregaTareas] CHECK CONSTRAINT [FK_Estudiante]
GO
ALTER TABLE [dbo].[EntregaTareas]  WITH CHECK ADD  CONSTRAINT [FK_Tarea] FOREIGN KEY([IdTarea])
REFERENCES [dbo].[Tareas] ([IdTarea])
GO
ALTER TABLE [dbo].[EntregaTareas] CHECK CONSTRAINT [FK_Tarea]
GO
ALTER TABLE [dbo].[Estudiantes]  WITH CHECK ADD FOREIGN KEY([IdSeccion])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[IntercambioEstudiantes]  WITH CHECK ADD FOREIGN KEY([IdEstudiante1])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[IntercambioEstudiantes]  WITH CHECK ADD FOREIGN KEY([IdEstudiante2])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Justificaciones]  WITH CHECK ADD FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Justificaciones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[SolicitudCambioSeccion]  WITH CHECK ADD FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiantes] ([IdEstudiante])
GO
ALTER TABLE [dbo].[SolicitudCambioSeccion]  WITH CHECK ADD FOREIGN KEY([IdSeccionActual])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[SolicitudCambioSeccion]  WITH CHECK ADD FOREIGN KEY([IdSeccionSolicitada])
REFERENCES [dbo].[Secciones] ([IdSeccion])
GO
ALTER TABLE [dbo].[SolicitudCambioSeccion]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLES] ([IdRol])
GO
USE [master]
GO
